<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Product Edit</title>

    <body>
        <%- include("../partials/header")%>

            <main>

                <h1 class="titleProdList">Editar Producto</h1>
                
                <form method="POST" class="form-all" action="/productEdit">

                    <div class="form-control">
                        <label>Nombre del producto: </label>
                        <input type="text" name="product_name" value=" <%= productToEdit.product_name %> ">
                    </div>
                    <br>
                    <div class="form-control">
                        <label>Precio: </label>
                        <input type="currency" name="price" value=" <%= productToEdit.price %>">
                    </div>
                    <br>
                    <div class="form-control">
                        <label for="type">Tipo: </label>
                        <select name="type">
                            <% let prodTypes=['Desserts','Cakes','Tarts','Dips','Shabat y Chagim', 'Argentina' ] %>
                                <% for (let valueProd of prodTypes) {%>
                                    <option value="<%= valueProd %>" <%=productToEdit.type==valueProd ? "selected" : ""
                                        %>>
                                        <%=valueProd %>
                                    </option>
                                    <% } %>
                        </select>
                    </div>
                    <br>
                    <div class="form-control">
                        <label>Foto: </label>
                        <br>

                        <img width="150" height="150" src=<%=productToEdit.photo %> alt=<%= productToEdit.photo_name %>
                            >

                            <input type="file" name="photo" value=" >">
                    </div>
                    <br>
                    <div class="form-control">
                        <label>Nombre de la foto: </label>
                        <input type="text" name="photo_name" value=" <%= productToEdit.photo_name %>">
                    </div>
                    <br>
                    <div class="form-control">
                        <label>Descripcion: </label>
                        <input type="text" name="descrip" value=" <%= productToEdit.descrip %>">
                    </div>
                    <br>
                    <div class="envio">
                        <button type="submit" class="menu-abajo"><a>Guardar</a></button>
                    </div>
                </form>
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>