<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Edit</title>

    <body>
        <%- include("../partials/header")%>

            <main>

                <h1 class="titleProdList">Editar Producto</h1>

                <article>
                    <div class="productos">
                        <p class="pEdit">Nombre del producto: 
                        <%= productToEdit.product_name %>
                    </p>
                    <div class="envio">
                        <% let rutaFieldEdit="/product-edit/:idProduct/" + productToEdit.id%>
                            <button type="submit" class="menu-abajo"><a
                                    href=<%=rutaFieldEdit %>>Editar</a></button>
                    </div>
                        <br>
                        <p class="pEdit">Precio: 
                        $<%= productToEdit.price %>
                    </p>
                        <br>
                        <p class="pEdit">Tipo: 
                        <%= productToEdit.type %>
                    </p>
                        <br>
                        <p class="pEdit">Foto: 
                        <img width="150" height="150" src=<%=productToEdit.photo %> alt=<%=
                        productToEdit.photo_name %> >

                    </p>
                        <br>
                        <p class="pEdit">Nombre de la foto: 
                        <%= productToEdit.photo_name %>
                    </p>
                        <br>
                        <p class="pEdit">Descripcion: 
                        <%= productToEdit.descrip %>
                    </p>
                    </div>
                </article>
            </main>

            <%- include("../partials/footer")%>

    </body>

</html>