<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Register</title>

    <body>
        <%- include("../partials/header")%>
            <main>
                <h4 class="title-login">Create your account</h4>

                <form action="/register" method="POST" class="form-all widthResponsive centVert">
                    <div class="engloba-register">
                        <div class="form-control alignLeft widthResponsive center">
                            <label for="">Username</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="text" name="username" required
                                value="<%= locals.oldData && oldData.username %>">
                            <span>
                                <p>
                                    <% if (locals.errors && errors.username) { %>
                                        <p class="error">
                                            <%= errors.username.msg %>
                                        </p>
                                    <% } %> 
                                </p>
                            </span>
                        </div>
                        <br>
                        <div class="form-control alignLeft center widthResponsive">
                            <label for="">Email</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="email" name="email" required
                                value="<%= locals.oldData && oldData.email %>">
                            <span>
                                <p></p>
                            </span>
                        </div>
                        <br>

                        <div class=" form-control align-left">
                            <label for="">Select your avatar</label>
                            <br><br>
                            <div class="prodListSection">
                                <div class="paddingAvatars">
                                    <img src="/images/avatars/jala.jpg" alt="" width="150px" height="150px">
                                    <br>
                                    <input type="radio" name="avatar" id="avatar1" value="jala.jpg"
                                        <% if (locals.oldData)  {%> 
                                    <%=oldData.avatar=="jala.jpg" ? "checked" : "" %>
                                    <% } %> 
                                    >
                                </div>

                                <br><br>
                                <div class="paddingAvatars">
                                    <img src="/images/avatars/kipa.jpg" alt="" width="150px" height="150px">
                                    <br>
                                    <input type="radio" name="avatar" id="avatar2" value="kipa.jpg"
                                    <% if (locals.oldData)  {%> 
                                        <%=oldData.avatar=="kipa.jpg" ? "checked" : "" %>
                                        <% } %> >
                                    <br>
                                </div>
                                <div class="paddingAvatars">
                                    <img src="/images/avatars/pletzale.jpg" alt="" width="150px" height="150px">
                                    <br>
                                    <input type="radio" name="avatar" id="avatar3" value="pletzale.jpg"
                                    <% if (locals.oldData)  {%> 
                                        <%=oldData.avatar=="pletzale.jpg" ? "checked" : "" %>
                                        <% } %> >
                                    <br>
                                </div>
                                <div class="paddingAvatars">
                                    <img src="/images/avatars/pletzelViejo.jpg" alt="" width="150px" height="150px">
                                    <br>
                                    <input type="radio" name="avatar" id="avatar4" value="pletzelViejo.jpg"
                                    <% if (locals.oldData)  {%> 
                                        <%=oldData.avatar=="pletzelViejo.jpg" ? "checked" : "" %>
                                        <% } %> >
                                    <br>
                                </div>
                                <div class="paddingAvatars">
                                    <img src="/images/avatars/polloCorazon.jpg" alt="" width="150px" height="150px">
                                    <br>
                                    <input type="radio" name="avatar" id="avatar5" value="polloCorazon.jpg"
                                    <% if (locals.oldData)  {%> 
                                        <%=oldData.avatar=="polloCorazon.jpg" ? "checked" : "" %>
                                        <% } %> >
                                    <br>
                                </div>
                                <div class="paddingAvatars">
                                    <img src="/images/avatars/pretzel.jpg" alt="" width="150px" height="150px">
                                    <br>
                                    <input type="radio" name="avatar" id="avatar6" value="pretzel.jpg"
                                    <% if (locals.oldData)  {%> 
                                        <%=oldData.avatar=="pretzel.jpg" ? "checked" : "" %>
                                        <% } %> ><br>
                                    <br>
                                </div>
                                <div class="paddingAvatars">
                                    <img src="/images/avatars/tostada.jpg" alt="" width="150px" height="150px">
                                    <br>
                                    <input type="radio" name="avatar" id="avatar7" value="tostada.jpg"
                                    <% if (locals.oldData)  {%> 
                                        <%=oldData.avatar=="tostada.jpg" ? "checked" : "" %>
                                        <% } %> >
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-control center alignLeft widthResponsive">
                            <label for="">Create password</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="password" required>
                            <span>
                                <% if (locals.errors && errors.password) { %>
                                    <p class="error">
                                        <%= errors.password.msg %>
                                    </p>
                                <% } %>
                            </span>
                        </div>
                        <br>

                        <div class="form-control  center alignLeft widthResponsive">
                            <label for="">Repeat password</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="repassword" required>
                            <span>
                                <p></p>
                            </span>
                        </div>
                        <br>


                        <div class="envio widthResponsive center">

                            <button type="submit" class="menu-abajo"><a>Register</a>
                            </button>

                            <button type="reset" class="menu-abajo">Reset</button>

                        </div>

                        <div class="check-register alignLeft">
                            <div class="checkbox-item"><input type="checkbox" name="Remember me" value="Remember me"
                                    id="Remember me" class="check">
                                <br>
                                <label for="remember">Remember me</label>
                            </div>

                            <div class="checkbox-item"><input type="checkbox" name="Sign up for our newsletter"
                                    value="Sign up for our newsletter" id="newsletter" class="check">
                                <br>
                                <label for="Sign up for our newsletter">Sign up for our newsletter</label>
                            </div>
                        </div>

                    </div>
                </form>
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>