<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>User Edit</title>

    <body>
        <%- include("../partials/header")%>

            <main>

                <h1 class="titleProdList">User Edit</h1>

                <section class="form-all widthResponsive centVert alignLeft">
                    <form method="POST" action="/userEdit" enctype="multipart/form-data">
                        <div class="noShow">
                            <label>ID: </label>
                            <input class="whidthBox" type="number" name="id" value=<%=userEdit.id %> >
                        </div>

                        <div class="form-control alignLeft">
                            <label class="pControl"> Username: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="text" name="username"
                                value=" <%= userEdit.username %> ">
                        </div>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">E-mail: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="email" name="email" value=<%=userEdit.email %>>
                        </div>

                        <div class="form-control alignLeft">
                            <label class="pControl">Password: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="password" value=<%=userEdit.password %>>
                        </div>
                        <br>

                        <div class="form-control alignLeft">
                            <label class="pControl">Confirm Password: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="repassword" value=<%=userEdit.repassword %>>
                        </div>
                        <br>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">Foto: </label>
                            <br>
                            <br>
                            <img width="150" height="150" src=<%=productToEdit.photo %> alt=<%= productToEdit.photo_name
                                %>>
                                <input class="whidthBox" type="file" name="photo">
                        </div>
                        <br>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">Nombre de la foto: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="text" name="photo_name"
                                value=" <%= productToEdit.photo_name %>">
                        </div>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">Descripcion: </label>
                            <br>
                            <br>
                            <textarea class="whidthBox" name="descrip"><%= productToEdit.descrip %> </textarea>
                        </div>
                        <br>
                        <div class="envio">
                            <button type="submit" class="menu-abajo widthResponsive"><a>Guardar</a></button>
                        </div>
                    </form>
                    <form action="/productDelete" method="POST">
                        <div class="envio">
                            <label for="id" class="noShow">
                                <%=productToEdit.id%>
                            </label>
                            <input type="text" id="id" value="<%=productToEdit.id%>" class="noShow">
                            <button type="submit" class="menu-abajo widthResponsive"><a>Eliminar
                                    Producto</a></button>
                        </div>
                    </form>
                </section>
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>