<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Register</title>

    <body>
        <%- include("../partials/header")%>
            <main>
                <h4 class="title-login">Create your account</h4>

                <form action="/register" method="POST" class="form-all widthResponsive centVert">
                    <div class="engloba-register">
                        <div class="form-control alignLeft widthResponsive center">
                            <label for="">Username</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="text" name="username" required
                                value="<%= locals.oldData && oldData.username %>">
                            <span>
                                <% if (locals.errors && errors.username) { %>
                                    <p class="error">
                                        <%= errors.username.msg %>
                                    </p>
                                    <% } %>
                            </span>
                        </div>
                        <br>
                        <div class="form-control alignLeft center widthResponsive">
                            <label for="">Email</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="email" name="email" required
                                value="<%= locals.oldData && oldData.email %>">
                            <span>
                                <% if (locals.errors && errors.email) { %>
                                    <p class="error">
                                        <%= errors.email.msg %>
                                    </p>
                                    <% } %>
                            </span>
                        </div>
                        <br>

                        <div class=" form-control align-left">
                            <label for="">Choose your avatar</label>
                            <br><br>
                            <div class="prodListSection">
                                <% let avatars=['jala.jpg', 'kipa.jpg' , 'pletzale.jpg' , 'pletzelViejo.jpg'
                                    , 'polloCorazon.jpg' , 'pretzel.jpg' , 'tostada.jpg' ] %>
                                    <% avatars.forEach (avatar=> { %>
                                        <div class="paddingAvatars">
                                            
                                            <% let rutaAvatar="/images/avatars/" + avatar %>
                                            <img src= "<%=rutaAvatar %>" alt="" width="150px" height="150px">
                                                <br>
                                            <input type="radio" name="avatar" value="<%=avatar %>"

                                            <% if (locals.oldData) {%>
                                                <%=oldData.avatar == avatar ? "checked" : "" %>
                                            <% } %> 
                                            >

                                        </div>
                                        <% } ) %>
                            </div>
                        </div>
                        <br>

                        <div class="form-control center alignLeft widthResponsive">
                            <label for="">Create password</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="password" required>
                            <span>
                                <% if (locals.errors && errors.password) { %>
                                    <p class="error">
                                        <%= errors.password.msg %>
                                    </p>
                                    <% } %>
                            </span>
                        </div>
                        <br>

                        <div class="form-control  center alignLeft widthResponsive">
                            <label for="">Repeat password</label>
                            <br>
                            <br>
                            <input class="whidthBox" type="password" name="repassword" required>
                            <span>
                                <% if (locals.errors && errors.repassword) { %>
                                    <p class="error">
                                        <%= errors.repassword.msg %>
                                    </p>
                                    <% } %>
                            </span>
                        </div>
                        <br>


                        <div class="envio widthResponsive center">

                            <button type="submit" class="menu-abajo"><a>Register</a>
                            </button>
                            <button type="reset" class="menu-abajo"><a>Reset</a></button>

                        </div>

                        <div class="check-register alignLeft">
                            <div class="checkbox-item"><input type="checkbox" name="remember" value="remember"
                                    id="remember" class="check" checked>
                                <br>
                                <label for="remember">Remember me</label>
                            </div>

                            <div class="checkbox-item"><input type="checkbox" name="Sign up for our newsletter"
                                    value="Sign up for our newsletter" id="newsletter" class="check">
                                <br>
                                <label for="Sign up for our newsletter">Sign up for our newsletter</label>
                            </div>
                        </div>

                    </div>
                </form>
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>