<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>
    <title>Product Edit</title>

    <body>
        <%- include("../partials/header")%>

            <main>

                <h1 class="titleProdList">Edit Product</h1>

                <section class="form-all widthResponsive centVert alignLeft">
                
                    <form method="POST" action= "/productEdit"   enctype="multipart/form-data"  class="formEdit">
                        <div class="noShow">
                            <label>ID: </label>
                            <input class="whidthBox" type="number" name="id" value=<%=productToEdit.id %> >
                        </div>

                        <div class="form-control alignLeft">
                            <label class="pControl"> Product Name: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="text" name="product_name"
                                value=" <%= productToEdit.product_name %> ">
                        </div>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">Price: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="currency" name="price" value=<%=productToEdit.price %>>
                        </div>
                        <br>
                        <div class="form-control alignLeft">
                            <label for="type" class="pControl">Category: </label>
                            <br>
                            <br>
                            <select class="whidthBox" name="type">
                                <% let prodTypes=['Desserts','Cakes','Tarts','Dips','Shabatt & Chagim', 'Argentina' ] %>
                                    <% for (let valueProd of prodTypes) {%>
                                        <option class="whidthBox" value="<%= valueProd %>"
                                            <%=productToEdit.type==valueProd ? "selected" : "" %>>
                                            <%=valueProd %>
                                        </option>
                                        <% } %>
                            </select>
                        </div>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">Current Picture: </label>
                            <br>
                            <br>
                            <img width="150" height="150" src=<%=productToEdit.photo %> alt=<%= productToEdit.photo_name
                                %>>
                                <br><br>
                                <label class="pControl">Select New Picture: </label>
                                <input class="whidthBox" type="file" name="photo">
                        </div>
                        <br>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">Picture Name: </label>
                            <br>
                            <br>
                            <input class="whidthBox" type="text" name="photo_name"
                                value=" <%= productToEdit.photo_name %>">
                        </div>
                        <br>
                        <div class="form-control alignLeft">
                            <label class="pControl">Description: </label>
                            <br>
                            <br>
                            <textarea class="whidthBox" name="descrip"><%= productToEdit.descrip %> </textarea>
                        </div>
                        <br>
                        <div class="envio">
                            <button type="submit" class="menu-abajo widthResponsive"><a>Save changes</a></button>
                        </div>
                    </form>
                    

                    
                    <form action="/productDelete/<%= productToEdit.id  %> " method="POST"
                        enctype="multipart/form-data" class="formEdit">

                        <div class="envio">
                            <button type="submit" class="menu-abajo"><a>Delete
                                    Product</a></button>
                        </div>
                    </form>
                </section>
            </main>
            <%- include("../partials/footer")%>
    </body>

</html>